<?xml version="1.0"?>

<launch>
  <!-- Parameters for the hardware interface and controllers -->
  <rosparam file="$(find dynamixel_control_hw)/config/ryan_dpr_neck.yaml"/>

  <!-- URDF robot description -->
  <param name="robot_description"
         command="cat $(find dynamixel_control_hw)/urdf/ryan_dpr_neck.urdf" />
  <!-- Publish robot's state in the tf tree -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="rob_state_pub" />

  <!-- launch our hardware interface -->
  <arg name="protocol_version" default="p1"
       doc="Chooses the dynamixel protocol variant to be used (p1 or p2)"/>
  <node pkg="dynamixel_control_hw"
        type="dynamixel_control_$(arg protocol_version)"
        name="dynamixel_control" output="screen" clear_params="true"
        required="true"/>

  <!-- Start a controller for the dpr neck
  <node name="controller" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" clear_params="true"
        args="/dynamixel_controllers/joint_state_controller" />-->

<!--args="/dynamixel_controllers/position_trajectory_controller
      /dynamixel_controllers/joint_state_controller" />-->
</launch>
